.App {
  text-align: center;
}
.loader-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); 
}
.container {
 background-color:  #007bff;
 padding: 30px;
 margin-bottom: 30px;
}
.board-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 93%;
}
.board{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}


.board-info{
  font-weight: bold;
}

.board-button{
  margin-right: 10px;
}

.drop-area{
  width: 100%;
  height: 100px;
  color: #cecece;
  border: 1px dashed #cecece;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.hide-drop{
  opacity: 0;
}
